
html{
	font-family: 'Ubuntu', sans-serif;
}

.done{

text-align:center;

}

.active{

background:white;
border:2em grey;

}

.container{
	padding-top:2em;
	padding-bottom: 2em;
}



@media only screen and (min-width: 500px){

nav a:hover { 
display:inline;  
color: black; 
background-color: #fff; 
}

nav {

display:flex;
flex-direction: row;
background-color:grey;
border:2em black;
width:100%;
margin-bottom:3em;

}
nav a{

color:black;
text-decoration:none;
font-size:20px;
font-weight: bold;
text-align: center;
width:100%;
margin:.5em .5em .5em .5em;

}


.arrow{

    display: inline-block;
    margin: auto;
	width:5%;
	height:auto;

}

.image{
	width:100%;
	margin:auto;
}

.image img{

width:75%;
height: auto;

}

section ol{

width:100%;
margin:0 auto;

}


}

@media only screen and (min-width: 1000px){

ol{
	width:100%;
	margin:0 auto;

}

.image img {

width:50%;
height: auto;

}

.arrow{

    display: inline-block;
    margin: auto;
	width:3%;
	height:auto;

}


}