@font-face {
  font-family: "Ubuntu";
  src: url(../ubuntu-font-family-0.83/Ubuntu-L.ttf);
  font-weight: normal;
  font-style: normal;
}


 * {	
	font-family: 'Ubuntu';
}

body{
	background-color:#9DD1E3;
}

.done{

text-align:center;

}

.active{

background-color:#4CAF50;

}

.container{
	padding-top:0em;
	padding-bottom: .5em;
	background
}

nav a:hover:not(.active) {
   display:inline; 
    background-color: #111;
}

p{
	color:darkslateblue;
	font-size:14px;
}

h1{
	color:seagreen;
}
@media only screen and (min-width: 500px){


nav {

display:flex;
flex-direction: row;
background-color: #333;
border:2em black;
width:100%;
margin-bottom:3em;

}
nav a{

color:white;
text-decoration:none;
font-size:20px;
font-weight: bold;
text-align: center;
width:100%;
margin:.5em .5em .5em .5em;

}


.arrow img{

    display:flex;
	align-items: center;
	justify-content: center;
    margin: auto;
	width:5%;
	height:auto;

}

.image{
	width:100%;
	margin:auto;
}

.image img{

width:75%;
height: auto;

}

section ol{

width:100%;
margin:0 auto;

}


}

@media only screen and (min-width: 1000px){

ol{
	width:100%;
	margin:0 auto;

}

.image img {

width:50%;
height: auto;

}

.arrow{

    display: inline-block;
    margin: auto;
	width:3%;
	height:auto;

}


}