
html{
	font-family: 'Ubuntu', sans-serif;
}

.done{

text-align:center;

}

.active{

background:white;
border:2em grey;

}

nav a:hover { 
display:inline;  
color: black; 
background-color: #fff; 
}

nav {

display:flex;
flex-direction: row;
background-color:grey;
border:2em black;
width:100%;

}
nav a{

color:black;
text-decoration:none;
font-size:20px;
font-weight: bold;
text-align: center;
width:100%;
height:auto;
margin-left:1em;
margin-right:1em;
margin-top:auto;
margin-bottom:auto;
padding-top:1em;
padding-bottom:1em;



}


@media only screen and (min-width: 500px){




.arrow{

    display: inline-block;
    margin: auto;
	width:5%;
	height:auto;

}

section{
	margin-top:5em;
	margin-bottom:5em;
}


.image img {

width:65%;
height: auto;

}


.container img{

	margin-left:5em;
	margin-right:10em;
	margin-top:2em;
	margin-bottom:2em;
}
}

@media only screen and (min-width: 1000px){


.image img {

width:35%;
height: auto;

}

.arrow{

    display: inline-block;
    margin: auto;
	width:3%;
	height:auto;

}




}