@media only screen and (max-width: 500px){

nav {

display:flex;
flex-direction: row;
background-color:grey;
border:2em black;
width:100%;

}
nav a{

color:black;
text-decoration:none;
font-size:12px;
text-align: center;
width:100%;

margin:.5em .5em .5em .5em;

}

h1{
 text-align: center;
 font-size:20px;
}

h2{
 font-size:14px;
}

ol{
	margin-top:0em;
}


section{
	margin-top:2.5em;
	margin-bottom:2.5em;
}

.arrow{

    display: block;
    margin: 0 auto;
	width:50px;
	height:auto;

}


.image img{

width:100%;
height: auto;

}

.container{
	
	margin-bottom:.5em;

}

}